<div class="banner bg-primary">

  <a href="https://github.com/nowa-webpack/nowa" title="Github">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="github"><use xlink:href="#github"></use></svg>
  </a>

  <div class="main" id="J_Main">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="wheel"><use xlink:href="#wheel"></use></svg>
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="wheel wheel-small"><use xlink:href="#wheel"></use></svg>
    <div class="text">
      <div class="logo">NOWA</div>
      <div class="desc">tools for web developers.</div>
      <a href="./docs/" class="document">{{i18n "document"}}</a>
    </div>
  </div>

</div>

<div class="container">

  <div class="row features text-info">
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>简易灵活的脚手架定制</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>HTTPS 调试服务支持</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>React 模块实时热替换</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>支持环境变量注入</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>插件化的命令扩展</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>构建提速 50%</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>构建配置可深度定制</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>便捷的远程代码调试</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
    <div class="clearfix col-sm-6 col-md-4 backup-item">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"><use xlink:href="#wheel"></use></svg>
      <div class="pull-left">
        <h4>持续维护和保障稳定</h4>
        <p class="text-muted">简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制简易灵活的脚手架定制</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="text-center text-muted footer">
    &copy; 2016 Alibaba, Inc. Licensed under MIT license.
  </div>

</div>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="wheel" viewBox="0 0 1024 1024">
    <path d="M933.778819 610.25293c-53.726321-93.053092-21.407331-212.281366 72.157745-266.487672l-100.636855-174.298553c-28.735102 16.863473-62.174057 26.527171-97.852942 26.527171-107.548639 0-194.713915-87.741258-194.713915-195.993875l-201.241711 0c0.255992 33.406956-8.063748 67.293897-25.951189 98.23693-53.726321 93.053092-173.146589 124.700103-266.839661 70.749789l-100.604856 174.298553c28.959095 16.479485 54.046311 40.574732 71.869754 71.485766 53.630324 92.893097 21.503328 211.929377-71.709759 266.199681l100.636855 174.298553c28.639105-16.703478 61.918065-26.23918 97.404956-26.23918 107.19665 0 194.137933 87.197275 194.681916 194.937908l201.241711 0c-0.095997-33.086966 8.287741-66.55792 25.951189-97.212962 53.630324-92.893097 172.762601-124.604106 266.391675-71.005781l100.636855-174.298553c-28.767101-16.479485-53.694322-40.510734-71.421768-71.229774zM512 719.337521c-114.492422 0-207.321521-92.829099-207.321521-207.321521s92.829099-207.321521 207.321521-207.321521c114.492422 0 207.321521 92.829099 207.321521 207.321521s-92.829099 207.321521-207.321521 207.321521z"></path>
  </symbol>
  <symbol id="github" viewBox="0 0 1024 1024">
    <path d="M512 2.275c-281.486 0-509.725 234.155-509.725 522.695 0 230.969 146.091 426.667 348.615 495.843 3.186 0.683 5.917 0.91 8.647 0.91 18.887 0 26.169-13.881 26.169-25.941 0-12.515-0.455-45.283-0.683-88.974-19.115 4.323-36.181 6.144-51.427 6.144-98.077 0-120.377-76.231-120.377-76.231-23.211-60.302-56.661-76.459-56.661-76.459-44.373-31.175-0.227-32.085 3.186-32.085 0.227 0 0.227 0 0.227 0 51.2 4.551 78.051 54.158 78.051 54.158 25.486 44.601 59.619 57.117 90.112 57.117 23.893 0 45.511-7.737 58.254-13.653 4.551-33.678 17.749-56.661 32.313-69.859-113.095-13.198-232.107-58.027-232.107-258.275 0-57.117 19.797-103.765 52.338-140.174-5.234-13.198-22.755-66.446 5.006-138.354 0 0 3.641-1.138 11.378-1.138 18.432 0 60.075 7.054 128.797 54.841 40.733-11.605 84.195-17.294 127.659-17.522 43.235 0.227 86.926 5.917 127.659 17.522 68.722-47.787 110.365-54.841 128.797-54.841 7.737 0 11.378 1.138 11.378 1.138 27.762 71.907 10.24 125.155 5.006 138.354 32.541 36.637 52.338 83.285 52.338 140.174 0 200.704-119.239 244.85-232.789 257.821 18.205 16.157 34.589 48.014 34.589 96.711 0 69.859-0.683 126.293-0.683 143.36 0 12.288 7.054 26.169 25.941 26.169 2.731 0 5.917-0.227 9.102-0.91 202.752-69.177 348.615-265.102 348.615-495.843 0-288.541-228.238-522.695-509.725-522.695z"></path>
  </symbol>
</svg>
