/*
* @Author: gbk
* @Date:   2016-06-07 13:18:10
* @Last Modified by:   gbk
* @Last Modified time: 2016-06-14 17:05:51
*/

@keyframes rolling {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rolling-back {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@font-face {
  font-family: virgo;
  src: url('./fonts/virgo.ttf');
}
html, body {
  height: 100%;
  font-family: Microsoft Yahei;
}
.github {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  width: 54px;
  height: 54px;
  margin-right: 12px;
  fill: rgba(255, 255, 255, 0.8);
}
.github:hover {
  fill: rgba(255, 255, 255, 1);
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 340px;
  height: 100%;
}
.main {
  position: relative;
  transition: top 0.2s;
}
.main .text {
  position: relative;
  z-index: 1;
  text-align: center;
}
.main .logo {
  font-size: 120px;
  line-height: 130px;
  font-family: virgo;
}
.main .desc {
  opacity: 0.8;
  font-size: 20px;
  line-height: 20px;
  font-family: virgo;
}
.document {
  display: inline-block;
  height: 48px;
  padding: 0 24px;
  margin-top: 40px;
  margin-right: 8px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.9);
  line-height: 48px;
  font-size: 20px;
  font-weight: bold;
  color: #337ab7;
}
.document:hover {
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  color: #337ab7;
}
.wheel {
  position: absolute;
  top: -80px;
  left: -90px;
  width: 200px;
  height: 200px;
  animation: rolling 5s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}
.wheel-small {
  position: absolute;
  top: 65px;
  left: 55px;
  width: 100px;
  height: 100px;
  animation: rolling-back 5s linear infinite;
  fill: rgba(255, 255, 255, 0.2);
}
.features {
  padding: 30px 40px 0;
  font-size: 14px;
}
.features > * {
  position: relative;
  min-height: 110px;
  padding-left: 80px;
}
.features .icon {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 48px;
  height: 48px;
  fill: rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.features > *:hover .icon {
  transform: rotate(90deg);
  fill: rgba(0, 0, 0, 0.4);
}
.features .backup-item {
  display: none;
}
.footer {
  padding-bottom: 32px;
  line-height: 2em;
}
@media (max-width: 768px) {
  .main .logo {
    font-size: 80px;
    line-height: 85px;
  }
  .main .desc {
    font-size: 14px;
    line-height: 13px;
  }
  .document {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  .features .backup-item {
    display: block;
  }
}
